html, body{
    height:100%;
     width:100%;
     margin:0px;
     padding:0px;
     
}
button{
    margin:5px;
}
.header{
    display:flex;
    justify-content: center;
    align-items: center;
}

.container{
    justify-self: center;
    height:960px;
    aspect-ratio: 1/1;
    display:flex;
    align-content:stretch;
    justify-content: space-between;
    gap:2px;
}
.yDiv{
    display:flex;
    gap:2px;
    flex-direction: column;
    flex:1;
}
.box{
    flex:1;
    background-color: beige;
    aspect-ratio: 1/1;
}